$primary: #1c78f0;
$secondary: #fff;
$tertiary: #053370;
$quarternary: #ac3636;

$percentage1: 100%;
$percentage2: 10%;

$size1: 10rem;
$size2: 1rem;
$size3: 0.1rem;

$position1: center;

$radius1: $size2 / 3; 
